.vs/
packages/
DynamicProxy.Fody/obj/
*.nupkg
DynamicProxy.Fody/bin/
DynamicProxy.Fody.Tests/obj/
DynamicProxy.Fody.Tests/bin/
DynamicProxy.Net45/bin/
DynamicProxy.Net45/obj/
DynamicProxy.Emit.Tests/bin/
DynamicProxy.Emit.Tests/obj/
DynamicProxy.Tests.ExternalLibrary/bin/
DynamicProxy.Tests.ExternalLibrary/obj/
DynamicProxy.Ios/bin/
DynamicProxy.Ios/obj/
Weavers/bin/Weavers.dll
Weavers/bin/Weavers.pdb
